:root {
  --azul-oscuro: #354c8e;
  --azul-claro: #25a4c4;
  --gris-claro: #9da6c4;
  --amarillo-claro: #fae095;
  --amarillo-medio: #e9c558;
  --amarillo-oscuro: #d49613;

  --blanco: #f9f9f9;
  --negro: #1c1c1c;
  --rojo: #e6002d;

  --fondo-principal: #e7ecf5;
}
