.page-container {
  display: grid;
  align-items: center;
  grid-template-rows: 1fr auto;
  min-height: 90vh;

  @media screen and (min-width: 1024px) {
    min-height: 100vh;
  }
}

.main-content {
  grid-row: 1;
  overflow-y: auto;
  padding-bottom: 2rem;
}

app-footer {
  grid-row: 2;
}
